{% extends 'base.html' %}
{% block page_content %}
   <h1 class="text-center">Edit Your Password</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'edit_password' %}">

                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label }}</p>
                    <p>{{ field }}</p>
                {% endfor%}

                <button class="btn btn-primary mt-2" type="submit">Edit Your Password</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}